<div class="dashboard-wrapper"> <main class="dashboard-main"> <h2>Resumen de Tareas</h2>

<div class="chart-container">
  <canvas
    baseChart
    [data]="barChartData"
    [options]="barChartOptions"
    type="bar">
  </canvas>
</div>

<a routerLink="/tasks" class="btn-main volver-btn">← Volver a Tareas</a>

<div class="percent-report">
  <p><strong>Completadas:</strong> {{ completedPercentage }}%</p>
  <p><strong>Pendientes:</strong> {{ pendingPercentage }}%</p>
  <button class="btn-export"(click)="exportChart()">Exportar informe como imagen</button>
</div>
</main> </div>

