# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Node modules
/node_modules

# Build output
/dist
/tmp
/out-tsc
/bazel-out

# Angular cache
/.angular/cache

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Misc
.sass-cache/
.connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

# History plugin
.history/
