<div class="tasks-wrapper">
  <main class="tasks-main">
    <div class="tasks-header">
      <h1>Bienvenido al administrador de tareas de TECHNOVA</h1>
      <h2>Iniciar Sesión</h2>
    </div>

    <form class="task-form" (ngSubmit)="login()" #loginForm="ngForm">
      <input
        type="email"
        name="email"
        [(ngModel)]="email"
        placeholder="Correo electrónico"
        required
      />
      <input
        type="password"
        name="password"
        [(ngModel)]="password"
        placeholder="Contraseña"
        required
      />
      <button type="submit" class="btn-main">Ingresar</button>
    </form>
  </main>
</div>
